<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KPatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KPatcher.Properties.Patcher" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <KPatcher.Properties.Settings>
      <setting name="OfflineMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DebugLevel" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PatchLicense" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OnlyForEducationAccepted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlockNetwork" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PassUnknownRequests" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowConsole" serializeAs="String">
        <value>True</value>
      </setting>
    </KPatcher.Properties.Settings>
    <KPatcher.Properties.Patcher>
      <setting name="OfflineMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DebugLevel" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PatchLicense" serializeAs="String">
        <value>True</value>
      </setting>
    </KPatcher.Properties.Patcher>
  </userSettings>
</configuration>